<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843605775839-830dhm3toodmn8dnn90euj60rorflaql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843605775839-830dhm3toodmn8dnn90euj60rorflaql</string>
	<key>API_KEY</key>
	<string>AIzaSyAGCsH8JWvwRzqeGyCMoyMvx221PwsGq2c</string>
	<key>GCM_SENDER_ID</key>
	<string>843605775839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.courts</string>
	<key>PROJECT_ID</key>
	<string>ferber-c668f</string>
	<key>STORAGE_BUCKET</key>
	<string>ferber-c668f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843605775839:ios:c54a6cadb3429e4641a06a</string>
</dict>
</plist>